# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
*.exe
*.dll
*.dylib

# Virtual environments
venv/
env/
ENV/
virtualenv/
anaconda/
conda/

# IDE
.idea/
*.iml
*.iws
*.ipr
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# DVC (будет потом)
.dvc/
.dvc/cache/
.dvc/config
.dvc/state


spAll-v6_1_3.fits

# Data and models (не коммитим!)

# Logs
*.log
*.tmp
*.temp
*.bak

# Environment files
.env
.env.local
.env.development
.env.production
.env.test